In [1]:
import pandas as pd

In [79]:
egitim = pd.read_excel("egitim_yardimi_2023_aylik.xlsx")
nakit = pd.read_excel("nakit_destegi_2023_aylik.xlsx")
sosyal = pd.read_excel("sosyal_kart_2023_aylik.xlsx")
su = pd.read_excel("su_fatura_destegi_2023_aylik.xlsx")
ulasim = pd.read_excel("ulasim_destegi_2023_aylik.xlsx")

In [121]:
egitim.head(50)

     yil  ay  ÖĞRENCİ SAYISI  PTT KOMİSYON      MİKTAR
0   2023   1           12540        4175.7   2812750.0
1   2023   2           35151       54959.1  19746150.0
2   2023   3           12379        3885.9   2644300.0
3   2023   4           12428        3905.4   2655400.0
4   2023   5           12436        3908.1   2657300.0
5   2023   6           12443        3910.5   2658900.0
6   2023   7            1704        1533.6    511200.0
7   2023   8            1704        1533.6    511200.0
8   2023   9               0           0.0         0.0
9   2023  10               0           0.0         0.0
10  2023  11               0           0.0         0.0
11  2023  12               0           0.0         0.0

In [58]:
type(egitim["destek_miktari"][0])

numpy.float64

In [ ]:
egitim["destek_miktari"] = egitim["destek_miktari"].astype(int)

In [123]:
egitim.columns

Index(['yil', 'ay', 'ÖĞRENCİ SAYISI', 'PTT KOMİSYON', 'MİKTAR'], dtype='object')

In [124]:
egitim = egitim.rename(columns={"destek_miktari":"destek_miktari_(TL)"})

In [ ]:
egitim = egitim[["yil-ay","destek_verilen_ogrenci_sayisi","ptt_komisyonu","destek_miktari"]]

In [27]:
type(egitim["ÖĞRENCİ SAYISI"][0])

numpy.int64

In [28]:
egitim['yil-ay'] = egitim['yil'].astype(str) + '-' + egitim['ay'].astype(str).str.zfill(2)

In [29]:
egitim['yil-ay'] = pd.to_datetime(egitim['yil-ay'])

In [30]:
egitim['yil-ay'] = egitim['yil-ay'].dt.to_period('M')

In [71]:
egitim.to_csv("temiz-egitim_yardimi_2023_aylik.csv" ,header=True ,index=False)

In [91]:
nakit.head(50)

     yil-ay  destek_verilen_kisi_sayisi  destek_miktari_(TL)
0   2023-01                         167            749164.15
1   2023-02                        1081            374818.05
2   2023-03                        2936           1156492.00
3   2023-04                        1609            918516.18
4   2023-05                          84            247815.58
5   2023-06                        2381           1036420.63
6   2023-07                         524            289728.11
7   2023-08                          29            172550.00
8   2023-09                           0                 0.00
9   2023-10                           0                 0.00
10  2023-11                           0                 0.00
11  2023-12                           0                 0.00

In [88]:
nakit.rename(columns={"KİŞİ SAYISI":"destek_verilen_kisi_sayisi"},inplace=True)

In [83]:
nakit['yil-ay'] = nakit['yil'].astype(str) + '-' + nakit['ay'].astype(str).str.zfill(2)

In [84]:
nakit['yil-ay'] = pd.to_datetime(nakit['yil-ay'])

In [85]:
nakit['yil-ay'] = nakit['yil-ay'].dt.to_period('M')

In [86]:
nakit.drop(columns={"yil","ay"},inplace=True)

In [90]:
nakit = nakit[["yil-ay","destek_verilen_kisi_sayisi","destek_miktari_(TL)"]]

In [92]:
nakit.to_csv("temiz-nakit_destegi_2023_aylik.csv" ,header=True ,index=False)

In [97]:
sosyal = sosyal.rename(columns={"MİKTAR":"verilen_destek_miktarı"})

In [100]:
sosyal['yil-ay'] = sosyal['yil'].astype(str) + '-' + sosyal['ay'].astype(str).str.zfill(2)

In [101]:
sosyal['yil-ay'] = pd.to_datetime(sosyal['yil-ay'])

In [104]:
sosyal['yil-ay'] = sosyal['yil-ay'].dt.to_period('M')

In [106]:
sosyal = sosyal.drop(columns={"yil","ay"})

In [108]:
sosyal.columns

Index(['verilen_sosyal_kart_sayisi', 'destek_verilen_kisi_sayisi',
       'verilen_destek_miktarı', 'yil-ay'],
      dtype='object')

In [109]:
sosyal = sosyal[["yil-ay","verilen_sosyal_kart_sayisi","destek_verilen_kisi_sayisi","verilen_destek_miktarı"]]

In [113]:
sosyal.head(50)

,yil-ay,verilen_sosyal_kart_sayisi,destek_verilen_kisi_sayisi,verilen_destek_miktari
0,2023-01,11443,39362,16592500.0
1,2023-02,12330,43012,17232888.5
2,2023-03,12397,42927,17559000.0
3,2023-04,11749,40346,17006500.0
4,2023-05,10762,36138,15385500.0
5,2023-06,10464,34538,14822000.0
6,2023-07,10254,33187,14396000.0
7,2023-08,9956,31170,13778500.0
8,2023-09,0,0,0.0
9,2023-10,0,0,0.0
10,2023-11,0,0,0.0
11,2023-12,0,0,0.0

In [112]:
sosyal = sosyal.rename(columns={"verilen_destek_miktarı":"verilen_destek_miktari"})

In [114]:
sosyal.to_csv("temiz-sosyal_kart_2023_aylik.csv" ,header=True ,index=False)

In [119]:
su.head()

,yil,ay,destek_verilen_abone_sayisi,bedeli_karsilanan_su_miktari_(m3),MİKTAR
0,2023,1,879,7074,59229.47
1,2023,2,931,7467,92915.10
2,2023,3,940,7524,91269.34
3,2023,4,2332,17775,222526.49
4,2023,5,2803,34501,341576.74

In [118]:
su = su.rename(columns={"miktar" : "bedeli_karsilanan_su_miktari_(m3)"})