In [1]:
import pandas as pd
import numpy as np

In [2]:
komek_alan_brans=pd.read_excel("_KOMEK Alan ve Branşları.xlsx")
komek_dersler=pd.read_excel("_KOMEK Dersleri.xlsx")
komek_merkezler=pd.read_excel("_KOMEK Merkezleri.xlsx")
df10=pd.read_excel("10-İtfaiye_Grup_Amirlik_Sayısı.xlsx")
df11=pd.read_excel("11-Görevli_Müfreze_Gönüllü.xlsx")
df12=pd.read_excel("12-İstasyon Konumları.xlsx")
df13=pd.read_excel("13-Personel_Sayıları.xlsx")
df49=pd.read_excel("49_Tramvay kilometre bilgisi.xlsx")
df120=pd.read_excel("120_insan_kaynaklari.xlsx")

In [90]:
df120.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Dönem(Yıl)                    7 non-null      int64
 1   Staj Tipi                     7 non-null      object
 2   Yaz Dönemi Staj Kontenjanı    7 non-null      int64
 3   Yaz Dönemi Staj Yapan Sayısı  7 non-null      int64
 4   Dönem Staj Kontenjanı         7 non-null      int64
 5   Dönem Staj Yapan Sayısı       7 non-null      int64
 6   Ücretsiz Staj Sayısı          7 non-null      object
dtypes: int64(5), object(2)
memory usage: 524.0+ bytes

In [91]:
df120.head(30)

,Dönem(Yıl),Staj Tipi,Yaz Dönemi Staj Kontenjanı,Yaz Dönemi Staj Yapan Sayısı,Dönem Staj Kontenjanı,Dönem Staj Yapan Sayısı,Ücretsiz Staj Sayısı
0,2017,"Üniversite,Lise",30,29,30,30,YOK
1,2018,"Üniversite,Lise",90,87,90,87,YOK
2,2019,"Üniversite,Lise",70,67,70,67,YOK
3,2020,"Üniversite,Lise",40,40,40,40,YOK
4,2021,"Üniversite,Lise",70,64,70,64,YOK
5,2022,"Üniversite,Lise",140,138,140,138,YOK
6,2023,Üniversite,200,177,200,177,YOK

In [81]:
df49.columns

Index(['yil', '28T1_tramvayi', '28T2_tramvayi'], dtype='object')

In [86]:
type(df49["yil"][0])

numpy.int64

In [88]:
print(df49.isnull().any())

yil              False
28T1_tramvayi    False
28T2_tramvayi    False
dtype: bool

In [89]:
print(df49[df49.isnull().any(axis=1)])

Empty DataFrame
Columns: [yil, 28T1_tramvayi, 28T2_tramvayi]
Index: []